<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie with flags</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .movie { display: flex; align-items: center; margin-bottom: 10px; }
        .movie img { width: 50px; height: auto; margin-right: 15px; }
        .movie-info { display: flex; flex-direction: column; }
        .pagination {margin-top:20px;}
        .pagination a {margin:0 5px; text-decoration: none; color: blue;}
    </style>
</head>
<body>
    <h1>Movie with Flags</h1>
    <div id="Movies">
        {% for movie in movies %}
            <div class="movie">
                <div class="movie-info">
                    <strong>{{ movie.title }}</strong>
                    <span>Year: {{ movie.year }}</span>
                    <span>Countries:</span>
                    {% for country in movie.countries %}
                        {{ country.name }} <img src="{{ country.flag }}"  alt="Flag of {{ country.name }}">
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Paginación -->
    <div class="pagination">
        {% if current_page > 1 %}
            <a href="?filter={{ request.args.get('filter', '') }}&page={{ current_page - 1 }}">Previous</a>
        {% endif %}
        
        <span>Page {{ current_page }} of {{ total_pages }}</span>
        
        {% if current_page < total_pages %}
            <a href="?filter={{ request.args.get('filter', '') }}&page={{ current_page + 1 }}">Next</a>
        {% endif %}
    </div>
</body>
</html>
